body{
	background-color: #d7e6fc;
	font-weight: bold;
	font-size: 16px;
}
h1{ 
    background-color:#263754;
    color:#fcedb9; 
    font-family:"STKaiti";
    margin:auto;
    font-weight:bolder;	
}
.box1{
	background-color:#263754;
    color:#fcedb9;
    width: 90%; 
    margin:auto;
    font-family:"STKaiti";
    border-radius:30px;
    border-top: 5px #fcedb9 dotted;
    border-bottom:5px #fcedb9 dotted;
    border-left:2px #fcedb9 double;
    border-right: 2px #fcedb9 double;
    margin:5px 10px;
}
.box2{
	width:90%;
	margin:auto;
	background-color: #263754;
	color: #fcedb9;
    font-family:"STKaiti";
    border-top: 5px #fcedb9 dotted;
    border-bottom:5px #fcedb9 dotted;
    border-left:2px #fcedb9 dotted;
    border-right: 2px #fcedb9 dotted;
    border-radius:40px;
    margin:5px 10px;
}
div img{width:600px;height:300px}
.box3{
	width:90%;
	margin:auto;
	background-color: #263754;
	color: #fcedb9;
    font-family:"STKaiti";
    border-top: 5px #fcedb9 dotted;
    border-bottom:5px #fcedb9 dotted;
    border-left:2px #fcedb9 dotted;
    border-right: 2px #fcedb9 dotted;
    border-radius:40px;
    margin:5px 10px;
	
}
.box4{
	width:90%;
	margin:auto;
	background-color: #263754;
	color: #fcedb9;
    font-family:"STKaiti";
    border-top: 5px #fcedb9 dotted;
    border-bottom:5px #fcedb9 dotted;
    border-left:2px #fcedb9 dotted;
    border-right: 2px #fcedb9 dotted;
    border-radius:40px;
    margin:5px 10px;
}
.box5{
	width:90%;
	margin:auto;
	background-color: #263754;
	color: #fcedb9;
    font-family:"STKaiti";
    border-top: 5px #fcedb9 dotted;
    border-bottom:5px #fcedb9 dotted;
    border-left:4px #fcedb9 dotted;
    border-right: 4px #fcedb9 dotted;
    border-radius:40px;
    margin:5px 10px;
}

