body{
	background-color: #d7e6fc;
	font-weight: bold;
	font-size: 20px;
}
h1{ 
    background-color:#263754;
    color:#fcedb9; 
    font-family:"STKaiti";
    margin:0 auto;
    font-weight:bolder;	
}
.box1{
	background-color:#263754;
    color:#fcedb9;
    width: 90%; 
    font-family:"STKaiti";
    border-top: 5px #fcedb9 dotted;
    border-bottom:5px #fcedb9 dotted;
    border-left:5px #fcedb9 double;
    border-right: 5px #fcedb9 double;
    border-radius:10px;
    margin:50px ;
}
.box2{
	width:90%;
	background-color: #263754;
	color: #fcedb9;
    font-family:"STKaiti";
    border-top: 5px #fcedb9 dotted;
    border-bottom:5px #fcedb9 dotted;
    border-left:5px #fcedb9 dotted;
    border-right: 5px #fcedb9 dotted;
    border-radius:10px;
    margin:50px ;
}
div img{width:600px;height:300px}
.box3{
	width:90%;
	background-color: #263754;
	color: #fcedb9;
    font-family:"STKaiti";
    border-top: 5px #fcedb9 dotted;
    border-bottom:5px #fcedb9 dotted;
    border-left:5px #fcedb9 dotted;
    border-right：5px #fcedb9 dotted;
    border-radius:10px;
    margin:50px ;
}
.box4{
	width:90%;
	background-color: #263754;
	color: #fcedb9;
    font-family:"STKaiti";
    border-top: 5px #fcedb9 dotted;
    border-bottom:5px #fcedb9 dotted;
    border-left:5px #fcedb9 dotted;
    border-right:5px #fcedb9 dotted;
    border-radius:10px;
    margin:50px ;
}
.box5{
	width:90%;
	background-color: #263754;
	color: #fcedb9;
    font-family:"STKaiti";
    border-top: 5px #fcedb9 dotted;
    border-bottom:5px #fcedb9 dotted;
    border-left:5px #fcedb9 dotted;
    border-right:5px #fcedb9 dotted;
    border-radius:10px;
    margin:50px;
}
.box6{
	width:90%;
	background-color: #263754;
	color: #fcedb9;
    font-family:"STKaiti";
    border-top: 5px #fcedb9 dotted;
    border-bottom:5px #fcedb9 dotted;
    border-left:5px #fcedb9 dotted;
    border-right:5px #fcedb9 dotted;
    border-radius:10px;
    margin:50px;
}
