body{
	background-color: #c9c9c9;
	font-weight: bold;
	font-size: 16px;
}
h1{ 
    background-color:#00a8f3;
    color:#fcedb9; 
    font-family:"STKaiti";
    margin:auto;
    font-size:bolder;	
}
.box1{
	background-color:#00a8f3;
    color:#fcedb9;
    width: 90%; 
    margin:auto;
    font-family:"STKaiti";
    border-top: 5px #fcedb9 dotted;
    border-bottom:5px #fcedb9 dotted;
    border-left:2px #fcedb9 double;
    border-right: 2px #fcedb9 double;
}
.box2{
	width:80%;
	margin:auto;
	background-color: #00a8f3;
	color: #fcedb9;
    font-family:"STKaiti";
    border-top: 5px #fcedb9 dotted;
    border-bottom:5px #fcedb9 dotted;
    border-left:2px #fcedb9 double;
    border-right: 2px #fcedb9 double;
}
.901 img{
	width:50px;height: 25px
	margin:auto;
}
.964 1 img{
	width:50px;height:25px
    margin:auto;
}
.964 2 img{
	width:50px;height: 25px
    margin:auto;
}
.991 img{
	width: 50px;height: 25px
    margin:auto;
}
.box3{
	width:80%;
	margin:auto;
	background-color: #00a8f3;
	color: #fcedb9;
    font-family:"STKaiti";
    border-top: 5px #fcedb9 dotted;
    border-bottom:5px #fcedb9 dotted;
    border-left:2px #fcedb9 double;
    border-right: 2px #fcedb9 double;
}
.box4{
	width:80%;
	margin:auto;
	background-color: #00a8f3;
	color: #fcedb9;
    font-family:"STKaiti";
    border-top: 5px #fcedb9 dotted;
    border-bottom:5px #fcedb9 dotted;
    border-left:2px #fcedb9 double;
    border-right: 2px #fcedb9 double;
}
.box5{
	width:80%;
	margin:auto;
	background-color: #00a8f3;
	color: #fcedb9;
    font-family:"STKaiti";
    border-top: 5px #fcedb9 dotted;
    border-bottom:5px #fcedb9 dotted;
    border-left:2px #fcedb9 double;
    border-right: 2px #fcedb9 double;
}
